
.background{
    background-color:rgb(34, 38, 42);
}

table{
    .table-header{
        background-color:rgb(50, 57, 60);
        color:rgb(128,146,153);
    }
    
    .selected-item{
        background-color:rgb(50, 57, 60);
        color:rgb(167,206,209);    
    }
    
    .dark{
        color:rgb(133,129,137);
    }
    
    .light{
        color:rgb(164,183,187);
    }

    
}


